.cart{
    text-align: center;
}
.cart-header h3{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cart-header h4{
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding-bottom: 15px;
}
.cart-content{
    display: flex;
    justify-content: space-between;
}
.cart-content p{
    margin: 0;
    font-size: 16;
    padding-bottom: 5px;
}
.cart-content h4{
    margin: 0;
    font-size: 20px;
    color: brown;
}
