.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
    margin-right: 10px;
    margin-bottom: 5px;
}
.product-img{
    margin-right: 20px;
}

.product-content h4 a{
    color: rgb(34, 34, 255);
    font-weight: 400;
    margin: 18px 0;
    padding-bottom: 5px;
    text-decoration: none;
}
.product-content p{
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding-bottom: 15px;
}
.product-content h5{
    font-weight: 400 !important;
    font-size: 16px;
    margin: 0;
    padding-bottom: 15px;
}
.product-content h6{
    font-weight: 400 !important;
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
}
.main-button{
    padding: 5px 40px;
    background-color: goldenrod;
    border: 1px solid darkslategray;
    border-radius: 5px;
    cursor: pointer;
}
.svg-inline--fa {
    margin-right: 10px;
}